.place-order {
    margin: auto;
    width: 362px;
    max-width: 100%;
    border-radius: 10px;
    background-color: whitesmoke;
}
.place-order .order {
    padding: 20px 0px;
    text-align: center;
}
.place-order .order-description .describe{
    font-weight: bold;
    padding: 10px 7px;
}
.place-order .order-details {
    background-color: powderblue;
    border-radius: 10px;
}
.place-order .order-commission {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
}
.place-order .order-details p {
    padding-left: 10px;
}
.customer-details {
    padding: 15px;
    padding-left: 28px;
}
.customer-details input {
    margin: 1rem 10px 3rem 10px;
}
